.custom-bg {
  background: rgb(0, 0, 0);
  background: radial-gradient(125% 125% at 50% -5%, #3f3f47 -10%, #000 77%);
}

.bg-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(
        125% 125% at 50% -5%, 
        rgba(63, 63, 71, 0.2) -35%,   
        rgba(0, 0, 0, 0.6) 65%,    
        rgba(0, 0, 0, 1) 85%       
    );
    /* z-index: 5; */
    pointer-events: none;  
}

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0);
    overflow: hidden;
  }
  
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      #7e7e7ea3 75%,
      #ffffffa3 100%
    );
    animation: drop 5s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4,0.67, 0.26 );
  }
  

  .line:nth-child(1) {
    margin-left: -30%;
  }
  .line:nth-child(1)::after {
    animation-delay: 1.5s;
  }
  .line:nth-child(3) {
    margin-left: 30%;
  }
  .line:nth-child(3)::after {
    animation-delay: 1s;
  }
  
  .line:nth-child(2) {
    margin-left: -10%;
  }
  .line:nth-child(2)::after {
    animation-delay: 0.5s;
  }
  
  .line:nth-child(4) {
    margin-left: 10%;
  }
  .line:nth-child(4)::after {
    animation-delay: 2s;
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  