@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");

.menu-bar span {
  color: #e7e7e7;
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  padding: 8px 18px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
  font-size: 1rem;
}

.menu-bar span::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 35px;
  background-color: #09090b40;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  transform: translateX(-20%) scaleX(0.8);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease;
}

.menu-bar span:hover::before {
  transform: translateX(0) scaleX(1);
  opacity: 1;
}

.menu-bar span:hover {
  color: #fafafa;
}

.cartBtn {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgb(104, 103, 103) 0%,
    rgb(56, 56, 56) 66%,
    rgb(53, 52, 52) 100%
  );
  color: rgb(218, 218, 218);
  border: none;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.cartBtn span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 20px #4b4b4b;
  width: 100%;
  display: flex;
  align-items: center;
  /* gap: 12px; */
  color: inherit;
  transition: all 0.3s;
  background-color: #1d1d20;
  background-image: radial-gradient(
      at 95% 89%,
      rgb(31, 31, 31) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 100%, rgb(17, 17, 17) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(29, 29, 29) 0px, transparent 50%);
}

.cartBtn:hover span {
  background-color: rgb(26, 25, 25);
}

.button-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(
      rgb(48, 47, 47) 0.0000001%,
      rgb(51, 51, 51) 0.000104%
    )
    60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
  -webkit-filter: opacity(10%) contrast(105%);
}

.cart {
  z-index: 2;
}

.cartBtn:active {
  transform: scale(0.96);
}

.product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 16px;
  bottom: 20px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

